.chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
}

.chip.selected {
    background: var(--primary-color);
    color: white;
}

.chip.selected.main {
    border: 1px solid transparent;
    border-color: #000000;
}

.closebtn {
    padding-left: 10px;
    color: #121212;
    font-weight: bold;
    float: right;
    font-size: 20px;
    cursor: pointer;
}
  
.closebtn:hover {
    color: #000;
}